.AnalysisResults {
    text-align: center;

    .loader {
        padding-bottom: 1rem;
    }
    .previews {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;

    }
    .analysis-preview {
        border-radius: 2px;
        box-sizing: border-box;
        padding: 3rem 2rem;
        margin: 0.5rem;
        flex: 0 1 300px;
        border: 1px solid gray;
        text-align: center;
        background-color: #fffeea;
        cursor: pointer;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.1);

        transition: background-color 300ms ease-in-out, opacity 300ms ease-in-out, box-shadow 100ms ease-in-out;

        &:hover {
            box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
        }

        &.done {
            background-color: #ededed;
        }

        &.found {
            background-color: #6ce86a;
        }

        &.empty {
            opacity: 0.2;
            cursor: default;
        }

        .name {
            font-size: 1.2rem;
            font-weight: bold;
        }
        .data-results {
            font-size: 0.9rem;
        }
        .found-results {
            margin-top: 1.5rem;
            font-size: 1.2rem;
        }
    }

    .screenshot-wrapper {
        text-align: center;
        padding-top: 2rem;
        img {
            max-width: 90%;
            border: 1px solid gray;
            border-radius: 2px;
            box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
        }
    }
}

@media screen and (min-width: 480px) {
    .AnalysisResults {
        .analysis-preview {
            max-width: 50%;
        }
    }
}
@media screen and (min-width: 640px) {
    .AnalysisResults {
        .analysis-preview {
            max-width: 33%;
        }
    }
}
@media screen and (min-width: 992px) {
    .AnalysisResults {
        .analysis-preview {
            max-width: 25%;
        }
    }
}
@media screen and (min-width: 1200px) {
    .AnalysisResults {
        .analysis-preview {
            max-width: 16%;
        }
    }
}
