.AnalysisResults .loader {
  text-align: center;
  padding-bottom: 1rem; }

.AnalysisResults .previews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap; }

.AnalysisResults .analysis-preview {
  border-radius: 2px;
  box-sizing: border-box;
  padding: 3rem 2rem;
  margin: 0.5rem;
  flex: 0 1 300px;
  border: 1px solid gray;
  text-align: center;
  background-color: #fffeea;
  cursor: pointer;
  transition: background-color 300ms ease-in-out, opacity 300ms ease-in-out; }
  .AnalysisResults .analysis-preview:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); }
  .AnalysisResults .analysis-preview.done {
    background-color: #ededed; }
  .AnalysisResults .analysis-preview.found {
    background-color: #6ce86a; }
  .AnalysisResults .analysis-preview.done:not(.found) {
    opacity: 0.8; }
  .AnalysisResults .analysis-preview .name {
    font-size: 1.2rem;
    font-weight: bold; }
  .AnalysisResults .analysis-preview .found-results {
    margin-top: 1rem;
    font-size: 1.2rem; }

@media screen and (min-width: 480px) {
  .AnalysisResults .analysis-preview {
    max-width: 50%; } }

@media screen and (min-width: 640px) {
  .AnalysisResults .analysis-preview {
    max-width: 33%; } }

@media screen and (min-width: 992px) {
  .AnalysisResults .analysis-preview {
    max-width: 20%; } }

@media screen and (min-width: 1200px) {
  .AnalysisResults .analysis-preview {
    max-width: 16%; } }
