html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Graphik", sans-serif;
    box-sizing: border-box;
}

.App {
    padding-top: 6rem;

    .Header {
        background-color: #fff;
        box-shadow: 0 2px 0 0 hsla(204, 5%, 64%, .1);
        justify-content: flex-start;
        align-items: bottom;
        height: 6rem;

        svg {
            margin-top: 1rem;
            height: 100%
        }

        h1 {
            display: inline-block;
            color: #000;
            font-size: 2rem;
            transform: translateY(1rem);
        }
    }

    .col {
        margin-bottom: 0;
    }

    .InputForm {
        input {
            font-size: 1.6rem;
            padding: 1.2rem 1.8rem;
            line-height: 2.2rem;
            background-color: white;
            color: #111;
            border: 1px solid lightgray;
        }

        .item-row {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            margin-bottom: 1rem;
        }

        .item-row-label {
            font-size: 1.2rem;
            text-align: left;
        }

        .item-row-remove {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 2rem;
            padding: 1rem;
            z-index: 2;
            cursor: pointer;
        }

        .form-group {
            flex: 1;
            margin-bottom: 0;
        }

        .actions {
            .wrapper {
                padding: 1rem 1rem 2rem;
                max-width: 100rem;
                margin: 0 auto;
            }
        }
    }

    section {
        margin-bottom: 2rem;
    }

    label {
        font-size: 1rem;
        margin: 0;
    }

    button {
        font-weight: bold;
        border-radius: 2px;
        font-size: 1.6rem;
        padding: 1.2rem 1.8rem;
        cursor: pointer;

        &.btn-primary {
            line-height: 3rem;
            background: #00A7CE;

            &:hover:not([disabled]):not(.disabled) {
                background: darken(#00A7CE, 2%);
            }

            &:active:not([disabled]):not(.disabled) {
                background: #007d9d;
            }
        }

        &.btn-secondary {
            line-height: 3rem;
            background: #C3C6C8;

            &:hover:not([disabled]):not(.disabled) {
                background: darken(#C3C6C8, 5%);
            }
            &:active:not([disabled]):not(.disabled) {
                background: darken(#C3C6C8, 8%);
            }
        }
    }

    .alert {
        padding: .7rem 1.25rem 0.5rem;
        font-size: 1rem;
    }

    .jumbotron {
        border-radius: 0;
        padding: 0;

        .wrapper {
            padding: 2rem 1rem;
            max-width: 100rem;
            margin: 0 auto;
        }

        h3 {
            margin-top: 0;
        }

        &.website {
            background-color: #fff;
        }
        &.query {
            background-color: #12181D;
            margin-bottom: 3rem;
            h3 {
                color: #EDE9E2;
            }
        }
    }

    .AnalysisResults {
        text-align: center;

        .loader {
            padding-bottom: 1rem
        }

        .previews {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            padding: 0 0.5rem;
        }

        .analysis-preview {
            color: #050505;
            border-radius: 2px;
            padding: 3rem 2rem;
            margin: .5rem;
            flex: 0 1 100%;
            text-align: center;
            background-color: #fffeea;
            cursor: pointer;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
            transition: background-color .3s ease-in-out, opacity .3s ease-in-out, box-shadow .1s ease-in-out;

            &:hover {
                box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
            }

            &.done {
                background-color: #ededed;
                cursor: pointer;
            }

            &.found {
                background-color: #6CC04A;
                color: white;
            }

            &.empty {
                opacity: .2;
                cursor: default;
            }

            .name {
                font-size: 1.6rem;
                font-weight: 700;
            }

            .data-results {
                font-size: .9rem;
            }

            .found-results {
                margin-top: 1.5rem;
                font-size: 1.2rem;
            }

            .screenshot-wrapper {
                text-align: center;
                padding-top: 2rem;

                img {
                    max-width: 90%;
                    border: 1px solid gray;
                    border-radius: 2px;
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1)
                }
            }
        }
    }
}

.modal-dialog.analysis-tab {
    width: calc(100% - 0.6rem);
    font-size: 1.1rem;
    text-align: left;
    margin: 0.3rem;

    .modal-body {
        padding: 2rem;
    }

    p {
        margin-top: 1rem;
    }

    .react-json-view {
        overflow-y: auto;
        background-color: #fafafa!important;
    }
}

@media screen and (min-width:425px) {
    .AnalysisResults .analysis-preview {
        flex: 0 1 42.5rem;
        max-width: 42.5rem;
    }

    .App {
        h3 {
            text-align: left;
        }
        button {
            width: 25rem;
        }
    }

    .modal-dialog.analysis-tab {
        max-width: calc(100% - 0.6rem);
    }
}

@media screen and (min-width:768px) {
    .AnalysisResults .analysis-preview {
        flex: 0 1 42.5rem;
        max-width: 42.5rem;
    }
    .modal-dialog.analysis-tab {
        max-width: 70rem;
        margin: 0.3rem auto;
    }
}

@media screen and (min-width:992px) {
}

@media screen and (min-width:1200px) {
}
