html {
  font-size: 10px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Graphik", sans-serif;
  box-sizing: border-box; }

.App {
  padding-top: 6rem; }
  .App .Header {
    background-color: #fff;
    box-shadow: 0 2px 0 0 rgba(159, 164, 168, 0.1);
    justify-content: flex-start;
    align-items: bottom;
    height: 6rem; }
    .App .Header svg {
      margin-top: 1rem;
      height: 100%; }
    .App .Header h1 {
      display: inline-block;
      color: #000;
      font-size: 2rem;
      transform: translateY(1rem); }
  .App .col {
    margin-bottom: 0; }
  .App .InputForm input {
    font-size: 1.6rem;
    padding: 1.2rem 1.8rem;
    line-height: 2.2rem;
    background-color: white;
    color: #111;
    border: 1px solid lightgray; }
  .App .InputForm .item-row {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 1rem; }
  .App .InputForm .item-row-label {
    font-size: 1.2rem;
    text-align: left; }
  .App .InputForm .item-row-remove {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    padding: 1rem;
    z-index: 2;
    cursor: pointer; }
  .App .InputForm .form-group {
    flex: 1;
    margin-bottom: 0; }
  .App .InputForm .actions .wrapper {
    padding: 1rem 1rem 2rem;
    max-width: 100rem;
    margin: 0 auto; }
  .App section {
    margin-bottom: 2rem; }
  .App label {
    font-size: 1rem;
    margin: 0; }
  .App button {
    font-weight: bold;
    border-radius: 2px;
    font-size: 1.6rem;
    padding: 1.2rem 1.8rem;
    cursor: pointer; }
    .App button.btn-primary {
      line-height: 3rem;
      background: #00A7CE; }
      .App button.btn-primary:hover:not([disabled]):not(.disabled) {
        background: #009fc4; }
      .App button.btn-primary:active:not([disabled]):not(.disabled) {
        background: #007d9d; }
    .App button.btn-secondary {
      line-height: 3rem;
      background: #C3C6C8; }
      .App button.btn-secondary:hover:not([disabled]):not(.disabled) {
        background: #b6b9bc; }
      .App button.btn-secondary:active:not([disabled]):not(.disabled) {
        background: #aeb2b4; }
  .App .alert {
    padding: .7rem 1.25rem 0.5rem;
    font-size: 1rem; }
  .App .jumbotron {
    border-radius: 0;
    padding: 0; }
    .App .jumbotron .wrapper {
      padding: 2rem 1rem;
      max-width: 100rem;
      margin: 0 auto; }
    .App .jumbotron h3 {
      margin-top: 0; }
    .App .jumbotron.website {
      background-color: #fff; }
    .App .jumbotron.query {
      background-color: #12181D;
      margin-bottom: 3rem; }
      .App .jumbotron.query h3 {
        color: #EDE9E2; }
  .App .AnalysisResults {
    text-align: center; }
    .App .AnalysisResults .loader {
      padding-bottom: 1rem; }
    .App .AnalysisResults .previews {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      padding: 0 0.5rem; }
    .App .AnalysisResults .analysis-preview {
      color: #050505;
      border-radius: 2px;
      padding: 3rem 2rem;
      margin: .5rem;
      flex: 0 1 100%;
      text-align: center;
      background-color: #fffeea;
      cursor: pointer;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
      transition: background-color .3s ease-in-out, opacity .3s ease-in-out, box-shadow .1s ease-in-out; }
      .App .AnalysisResults .analysis-preview:hover {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); }
      .App .AnalysisResults .analysis-preview.done {
        background-color: #ededed;
        cursor: pointer; }
      .App .AnalysisResults .analysis-preview.found {
        background-color: #6CC04A;
        color: white; }
      .App .AnalysisResults .analysis-preview.empty {
        opacity: .2;
        cursor: default; }
      .App .AnalysisResults .analysis-preview .name {
        font-size: 1.6rem;
        font-weight: 700; }
      .App .AnalysisResults .analysis-preview .data-results {
        font-size: .9rem; }
      .App .AnalysisResults .analysis-preview .found-results {
        margin-top: 1.5rem;
        font-size: 1.2rem; }
      .App .AnalysisResults .analysis-preview .screenshot-wrapper {
        text-align: center;
        padding-top: 2rem; }
        .App .AnalysisResults .analysis-preview .screenshot-wrapper img {
          max-width: 90%;
          border: 1px solid gray;
          border-radius: 2px;
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }

.modal-dialog.analysis-tab {
  width: calc(100% - 0.6rem);
  font-size: 1.1rem;
  text-align: left;
  margin: 0.3rem; }
  .modal-dialog.analysis-tab .modal-body {
    padding: 2rem; }
  .modal-dialog.analysis-tab p {
    margin-top: 1rem; }
  .modal-dialog.analysis-tab .react-json-view {
    overflow-y: auto;
    background-color: #fafafa !important; }

@media screen and (min-width: 425px) {
  .AnalysisResults .analysis-preview {
    flex: 0 1 42.5rem;
    max-width: 42.5rem; }
  .App h3 {
    text-align: left; }
  .App button {
    width: 25rem; }
  .modal-dialog.analysis-tab {
    max-width: calc(100% - 0.6rem); } }

@media screen and (min-width: 768px) {
  .AnalysisResults .analysis-preview {
    flex: 0 1 42.5rem;
    max-width: 42.5rem; }
  .modal-dialog.analysis-tab {
    max-width: 70rem;
    margin: 0.3rem auto; } }
